<h1> Heidy Sagnip</h1>
<hr>
<div class="container">
  <div class="box">
    <form (submit)="addUser()" id="form">
      <h3>Add User</h3>
      <br>
      <input type="text" #name="ngModel" name="userName" [(ngModel)]="userName" placeholder="Enter user name here" [class.invalid]="name.invalid && name.touched" required><br><br>
      <br>
      <input type="number" #age="ngModel" name="userAge" [(ngModel)]="userAge" placeholder="Enter age here" [class.invalid]="age.invalid && age.touched" required><br><br>
      <br>
      <input type="submit" style="background-color:steelblue; border-color: aliceblue; color: antiquewhite;" class="button" value="SUBMIT">     
      <br><br><br>     
    </form>
  </div>
<div class="box2">
    <br>
    <table>
      <tr>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User Name</th>&nbsp;&nbsp;&nbsp;
        <th>Age</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Action</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </tr><br>
      <tr *ngFor="let user of users">
        <td>{{ user.name}}</td>&nbsp;&nbsp;
        <td>{{ user.age}}</td>&nbsp;&nbsp;
        <td>
          <button (click)="updateUser(user._id)" style="background-color: rgb(41, 212, 150); border-color: rgb(26, 247, 155);">UPDATE</button>&nbsp;
          <button (click)="deleteUser(user._id)" style="background-color: rgb(192, 53, 53); border-color: rgb(141, 23, 23);">DELETE</button>
        </td>
      </tr>
    </table>
  </div>
</div>


  